  #main {
    display: flex;
    justify-content: center;
  }

  #main button i {
    font-size: 45px;
  }

  #input-data:focus + .form-label,
  #input-data:not(:placeholder-shown) + .form-label {
    color: WHITE;
    font-weight: 200;
  }
  /* CALENDAR */

  #calendar {
    margin: auto 0px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  #calendar h3 {
    font-size: 40px;
    margin: 0px;
    background-color: var(--primary);
    color: WHITE;
  }

  table {
    border-spacing: 0px;
    table-layout: fixed;
    width: 1000px;
    border: 3px solid var(--primary);
  }

  table * > tr:first-child {
    background-color: var(--primary);
  }

  tr {
    background-color: #53a6e8;
    color: WHITE;

  }

  tr:nth-child(even) {
    background-color: var(--tertiary);
  }

  th {
    font-weight: bolder;
  }

  th, td {
    border: 25px solid transparent;
    font-size: 35px;
    height: 45px;
    transition: all .3s;
  }

  td:hover {
    border: 2px solid WHITE;
    transform: scale(1.05);
    cursor: pointer;
  }

  td:active {
    transform: scale(0.9);
  }

  .header {
    background-color: var(--primary);
    display: flex;
    padding: 20px;
    justify-content: flex-start;
  }

  .header > div {
    padding: 0px 125px;
  }

  .text-btn {
    background-color: transparent;
    border: 1px solid transparent;
    transition: all .3s;
  }
  
  .text-btn:hover {
    transform: scale(1);
    transition: all .3s;
    border: 1px solid var(--quart-bright);
    color: WHITE;
  }

  .text-btn:active {
    transform: scale(0.9);
  }

  /* CALENDAR DONE  */

  #daily-quests {
    position: absolute;
    right: 0px;
    background-color: var(--tertiary);
    top: 100px;
    width: 450px;
    min-height: calc(100vh - 100px);
    transition: all .5s;
  }

  body[data-quests="false"] #daily-quests {
    width: 0px;
  }

  body[data-quests="false"] #daily-quests * {
    display: none;
  }
  
  /* QUEST */

  #daily-quests ul {
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .quest {
    border-radius: 20px;
    background-color: var(--primary);
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .quest > div:first-child {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .quest > div:first-child > p {
    color: white;
  }

  .quest > div:first-child > div {
    display: flex;
    margin-left: auto;
  }

  .quest > div:first-child > div i {
    padding: 0px;
    font-size: 20px;
    margin-right: 15px;
  }

  .quest > div:last-child {
    transition: all .3s;
    border-radius: 20px;
    max-height: 0px;
    min-width: 100%;
    background: var(--subtask);
    overflow: hidden;
  }

  .quest > div:last-child div {
    display: flex;
    align-items: center;
    padding: 5px 0px;
  }

  .quest:hover > div:last-child:not(:empty) {
    margin-top: 15px;
    transition: all .3s;
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .check:not(.fa-square) {
    color: WHITE;
  }
  
  .check.fa-solid.fa-square-check + p {
    color: WHITE;
  }

  .subquest .check.fa-solid.fa-square-check + p,
  .subquest .check.fa-solid.fa-square-check {
    color: var(--t-cross)
  }

  /* QUEST DONE */