  #side-bar {
    top: 100px;
    position: absolute;
    transition: all .5s;
    background-color: var(--tertiary);
    z-index: 2;
    width: 275px;
    height: calc(100vh - 100px);
    box-shadow: var(--shadow);
  }

  menu {
    padding: 0px;
  }

  menu li {
    display: block;
    border-bottom: 1px #6fadde solid;
    margin: 0px 10px;
  }
  
  menu li div {
    margin: 10px;
    display: flex;
    align-items: center;
    transition: all .5s;
    justify-content: start;
  }

  menu li div i {
    font-size: 25px;
  }

  menu li div * {
    padding: 10px;
    margin: 2px;
    color: WHITE;
    text-transform: uppercase;
    font-weight: bold;
    transition: all .7s;
  }

  menu li div:hover{
    background-color: var(--quart-bright) !important;
    cursor: pointer;
    border-radius: 10px;
  }

  menu li div:active {
    transform: scale(0.9);
  }

  body[data-menu="false"] menu li {
    border: none;
  }

  body[data-menu="false"] menu li div {
    margin: 50px 0px;
    justify-content: center;
  }

  body[data-menu="false"] menu li div * {
    padding: 10px;
  }

  body[data-menu="false"] menu li div h3 {
    font-size: 0px;
    position: fixed;
    animation: TextOut .5s;
  }

  body[data-menu="false"] #side-bar {
    width: 85px;
  }

  @keyframes TextOut {
    0% {
      font-size: 25px;
      position: initial;
    }
    50% {
      font-size: 0px;
    }
    100% {
      font-size: 0px;
      position: fixed;
    }
  }